<?xmlversion="1.0"encoding="UTF-8"?>
<templatesid="template"xml:space="preserve">

<headert-name="Menu">
    <navclass="o_main_navbar">
        <ulclass="o_menu_apps"/>
        <aclass="o_menu_brand"role="button"/>
        <ulclass="o_menu_sections"role="menu"/>
        <ulclass="o_menu_systray"role="menu"/>
    </nav>
</header>

<!--
    @param{web.AppsMenu}widget
-->
<tt-name="AppsMenu">
    <liclass="dropdown">
        <aclass="full"data-toggle="dropdown"data-display="static"href="#"accesskey="h">
            <iclass="fafa-th-large"/>
        </a>
        <divclass="dropdown-menu"role="menu">
            <tt-foreach="widget.getApps()"t-as="app">
            <arole="menuitem"t-attf-href="#menu_id=#{app.menuID}"
                class="dropdown-itemo_app"
                t-att-data-menu-id="app.menuID"
                t-att-data-menu-xmlid="app.xmlID"
                t-att-data-action-id="app.actionID">
                    <tt-esc="app.name"/>
                </a>
            </t>
        </div>
    </li>
</t>

<tt-name="Menu.link">
    <tt-set="depth"t-value="(depth||0)+1"/>

    <tt-if="!menu.children.length">
        <tt-set="_link">
            <arole="menuitem"t-attf-href="#menu_id=#{menu.id}&amp;action=#{menu.action?menu.action.split(',')[1]:''}"
                t-att-data-menu="menu.id"
                t-att-data-action-model="menu.action?menu.action.split(',')[0]:''"
                t-att-data-action-id="menu.action?menu.action.split(',')[1]:''"
                t-att-data-menu-xmlid="menu.xmlid"
                t-attf-class="#{inNavbar?'':'dropdown-item'}o_menu_entry_lvl_#{depth}"
                data-toggle="collapse"data-target="#o_navbar_collapse.in">
                <span><tt-esc="menu.name"/></span>
            </a>
        </t>
        <lit-if="inNavbar">
            <tt-raw="_link"/>
        </li>
        <tt-else="">
            <tt-raw="_link"/>
        </t>
    </t>
    <tt-else="">
        <divt-attf-class="dropdown-headero_menu_header_lvl_#{depth}">
            <span><tt-esc="menu.name"/></span>
        </div>
        <tt-foreach="menu.children"t-as="menu">
            <tt-call="Menu.link"/>
        </t>
    </t>
</t>

<!--separatefirstleveldropdownfromtheotherstoavoidnesteddropdown-->
<tt-name="Menu.sections">
    <tt-foreach="menu_data.children"t-as="first_level_menu">
        <sectiont-att-class="first_level_menu.id">
            <tt-foreach="first_level_menu.children"t-as="second_level_menu">
                <tt-if="!second_level_menu.children.length">
                    <tt-call="Menu.link">
                        <tt-set="inNavbar"t-value="true"/>
                        <tt-set="menu"t-value="second_level_menu"/>
                    </t>
                </t>
                <tt-else="">
                    <li>
                        <ahref="#"class="dropdown-toggleo-no-careto_menu_header_lvl_1"t-att-data-menu-xmlid="second_level_menu.xmlid"data-toggle="dropdown"data-display="static"role="button"aria-expanded="false">
                            <tt-esc="second_level_menu.name"/>
                        </a>
                        <divclass="dropdown-menu"role="menu">
                            <tt-foreach="second_level_menu.children"t-as="third_level_menu">
                                <tt-call="Menu.link">
                                    <tt-set="depth"t-value="1"/>
                                    <tt-set="menu"t-value="third_level_menu"/>
                                </t>
                            </t>
                        </div>
                    </li>
                </t>
            </t>
        </section>
    </t>
</t>

<tt-extend="UserMenu.Actions">
    <tt-jquery=".dropdown-divider"t-operation="before">
        <arole="menuitem"href="#"data-menu="shortcuts"class="dropdown-itemd-noned-md-inline-block">Shortcuts</a>
    </t>
</t>

<divt-name="UserMenu.shortcuts">
    <divclass="container-fluid">
        <divclass="row">
            <divclass="offset-md-2col-md-8">
                <tableclass="o_shortcut_tabletext-center">
                    <thead>
                        <tr>
                            <thstyle="width:50%;">Description</th>
                            <thstyle="width:25%;"class="text-center">Windows/Linux</th>
                            <thstyle="width:25%;"class="text-center">Mac</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <tdalign="left">Savearecord</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">s</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">s</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Editarecord</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">a</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">a</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Discardarecordmodification</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">j</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">j</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Createanewrecord</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">c</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">c</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Opentolistview</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">l</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">l</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Opentokanbanview</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">k</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">k</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Openthepreviousrecord</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">p</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">p</span>
                            </td>
                        </tr>
                        <tr>
                            <tdalign="left">Openthenextrecord</td>
                            <td>
                                <spanclass="o_key">Alt</span>+<spanclass="o_key">n</span>
                            </td>
                            <td>
                                <spanclass="o_key">Control</span>+<spanclass="o_key">Alt</span>+<spanclass="o_key">n</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<tt-extend="FormSelection">
    <tt-jquery=".dropdown-menu.state">$(this).addClass("dropdown-menu-right");</t>
</t>

</templates>
