{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <script>
        $(document).ready(function(){
            functionchangePage(key){
                $('.progressbarli[data-key='+key+']').prevAll().addClass('completed');
                $('.progressbarli[data-key='+key+']').nextAll().removeClass('activecompleted');
                $('.progressbarli[data-key='+key+']').addClass('active').removeClass('completed');
                $('.config-steps.active').removeClass('active').addClass('o_hide');
                $('.config-steps[data-key='+key+']').removeClass('o_hide').addClass('active');
            }
            $('.next-btn').on('click',function(ev){
                changePage($(ev.target).data('key'));
            });
            $('#config-form').submit(function(e){
                e.preventDefault();
                $('.loading-block').removeClass('o_hide');
                $.ajax({
                    url:'/step_configure',
                    type:'post',
                    data:$('#config-form').serialize(),
                }).done(function(url){
                    $('.loading-block').addClass('o_hide');
                    changePage('done');
                    if(url){
                        if($('#iotname')[0].defaultValue==$('#iotname')[0].value){
                            varcpt=30;
                        }else{
                            varcpt=100;
                        }
                        setInterval(function(){
                            if(cpt===0){
                                window.location=url
                            }else{
                                $('.redirect-message').html('Youwillberedirectedto<ahref="'+url+'">'+url+'</a>in<b>'+cpt+'</b>seconds');
                                --cpt;
                            }
                        },1000);
                    }
                }).fail(function(){
                    $('.error-message').text('Errorinsubmittingdata');
                    $('.loading-block').addClass('o_hide');
                });
            });
        });
    </script>
    <style>
        .config-steps.title{
            font-weight:bold;
            margin-bottom:10px;
        }
        .progressbar{
            counter-reset:step;
            z-index:1;
            position:relative;
            display:inline-block;
            width:100%;
            padding:0;
        }
        .progressbarli{
            list-style-type:none;
            float:left;
            width:33.33%;
            position:relative;
            text-align:center;
            font-size:0.8rem;
        }
        .progressbarli:before{
            content:counter(step);
            counter-increment:step;
            height:30px;
            width:30px;
            line-height:30px;
            border:2pxsolid#ddd;
            display:block;
            text-align:center;
            margin:0auto6pxauto;
            border-radius:50%;
            background-color:white;
            color:#ddd;
            font-size:1rem;
        }
        .progressbarli:after{
            content:'';
            position:absolute;
            width:100%;
            height:2px;
            background-color:#ddd;
            top:15px;
            left:-50%;
            z-index:-1;
        }
        .progressbarli:first-child:after{
            content:none;
        }
        .progressbarli.active,.progressbarli.completed{
            color:#009EFB;
        }
        .progressbarli:last-child:before{
            content:'✔';
        }
        .progressbarli.active:before{
            border-color:#009EFB;
            background-color:#009EFB;
            color:#fff;
        }
        .progressbarli.completed:before{
            border-color:#009EFB;
            background-color:#fff;
            color:#009EFB;
        }
        .progressbarli.active+li:after{
            background-color:#009EFB;
        }
        .footer-buttons{
            display:inline-block;
            width:100%;
            margin-top:20px;
        }
    </style>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">ConfigureIoTBox</h2>
    <ulclass="progressbar">
        <liclass="active"data-key="server">ConnecttoFlectra</li>
        <lidata-key="wifi">ConnecttoInternet</li>
        <lidata-key="done">Done</li>
    </ul>
    <formid="config-form"style="margin-top:20px;"action='/step_configure'method='POST'>
        <div>
            <divclass="config-stepsactive"data-key="server">
                <tablealign="center">
                    <tr>
                        <td>IoTBoxName</td>
                        <td><inputtype="text"id="iotname"name="iotname"value="{{hostname}}"></td>
                    </tr>
                    <tr>
                        <td>Servertoken</td>
                        <td><inputtype="text"name="token"value="{{server}}"placeholder="Pasteyourcopiedtokenhere"></td>
                    </tr>
                </table>
                <divclass="text-centerfont-small"style="margin:10pxauto;">
                    Servertokenisnotmandatoryforthecommunityversion.
                </div>
                <divclass="footer-buttons">
                    <aclass="btnnext-btn"style="float:right"data-key="wifi">Next</a>
                </div>
            </div>
            <divclass="config-stepswifi-stepo_hide"data-key="wifi">
                <tablealign="center">
                    <tr>
                        <td>WifiNetwork</td>
                        <td>
                            <selectname="essid">
                                {%foridinssid-%}
                                    <optionvalue="{{id}}">{{id}}</option>
                                {%-endfor%}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><inputtype="password"name="password"placeholder="Optional"/></td>
                    </tr>
                    <inputtype="hidden"name="persistent"value="True"/>
                </table>
                <divclass="footer-buttons">
                    <aclass="btnnext-btn"data-key="server">Previous</a>
                    <inputclass="btn"style="float:right"type="submit"value="Connect"/>
                </div>
            </div>
            <divclass="config-stepso_hide"data-key="done">
                <h3class="text-center"style="margin:0;">✔Nice!Yourconfigurationisdone.</h3>
                <pclass="text-centerredirect-message"/>
            </div>
        </div>
        {{loading_block_ui(loading_message)}}
    </form>
{%endblock%}
