{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <script>
        $(document).ready(function(){
            $('#load_handler_btn').on('click',function(e){
                e.preventDefault();
                $('.loading-block').removeClass('o_hide');
                $.ajax({
                    url:'/load_iot_handlers',
                }).done(function(){
                    $('.message-status').html('Handlersloadedsuccessfully<br>Refreshingpage');
                    setTimeout(function(){
                        location.reload(true);
                    },25000);
                }).fail(function(){
                    setTimeout(function(){
                        location.reload(true);
                    },25000);
                });
            });
        });
    </script>
{%endblock%}
{%blockcontent%}
    <h2class="text-centertext-green">Logging</h2>
    <formmethod="post">
        <divstyle="text-align:left;display:block;">
            <labelfor="iot-logging-root">Rootloglevel(Currentvalue:{{root_logger_log_level}}):</label>
            <selectname="iot-logging-root"id="iot-logging-root">
            {%forlog_levelinavailable_log_levels%}
                <optionvalue="{{log_level}}"{{"selected"iflog_level==root_logger_log_level}}>
                    {{log_level|capitalize}}{{"(Recommended)"iflog_level==recommended_log_level}}
                </option>
            {%endfor%}
            </select>

            <labelfor="iot-logging-flectra">Flectraloglevel(Currentvalue:{{flectra_current_log_level}}):</label>
            <selectname="iot-logging-flectra"id="iot-logging-flectra">
            {%forlog_levelinavailable_log_levels%}
                <optionvalue="{{log_level}}"{{"selected"iflog_level==flectra_current_log_level}}>
                    {{log_level|capitalize}}{{"(Recommended)"iflog_level==recommended_log_level}}
                </option>
            {%endfor%}
            </select>
        </div>

        <h2class="text-centertext-green">Interfaceslist</h2>
        <tablealign="center"width="80%"cellpadding="3">
            <tr>
                <th>Name</th>
                <th>LogLevel</th>
            </tr>
            {%forinterfaceininterfaces_list-%}
                <tr>
                    <td>{{interface}}</td>
                    <td>
                        {%setinterface_logger_info=interfaces_logger_info[interface]%}
                        {%ifinterface_logger_info!=False%}
                            <selectname="iot-logging-interface-{{interface}}">
                                <optionvalue="parent"{{"selected"ifinterface_logger_info.is_using_parent_level}}>
                                    Sameas{{interface_logger_info.parent_name|capitalize}}({{interface_logger_info.parent_level|capitalize}})
                                </option>
                                <optionstyle="font-size:1pt;background-color:black;"disabled>&nbsp;</option>
                                {%forlog_levelinavailable_log_levels%}
                                <optionvalue="{{log_level}}"{{"selected"ifnotinterface_logger_info.is_using_parent_levelandlog_level==interface_logger_info.level}}>
                                    {{log_level|capitalize}}
                                </option>
                                {%endfor%}
                            </select>
                        {%else%}
                            <spanclass="font-small">Loggeruninitialised</span>
                        {%endif%}
                    </td>
                </tr>
            {%-endfor%}
        </table>

        <h2class="text-centertext-green">Driverslist</h2>
        <tablealign="center"width="80%"cellpadding="3">
            <tr>
                <th>Name</th>
                <th>LogLevel</th>
            </tr>
            {%fordriverindrivers_list-%}
                <tr>
                    <td>{{driver}}</td>
                    <td>
                        {%setdriver_logger_info=drivers_logger_info[driver]%}
                        {%ifdriver_logger_info!=False%}
                            <selectname="iot-logging-driver-{{driver}}">
                                <optionvalue="parent"{{"selected"ifdriver_logger_info.is_using_parent_level}}>
                                    Sameas{{driver_logger_info.parent_name|capitalize}}({{driver_logger_info.parent_level|capitalize}})
                                </option>
                                <optionstyle="font-size:1pt;background-color:black;"disabled>&nbsp;</option>
                                {%forlog_levelinavailable_log_levels%}
                                <optionvalue="{{log_level}}"{{"selected"ifnotdriver_logger_info.is_using_parent_levelandlog_level==driver_logger_info.level}}>
                                    {{log_level|capitalize}}
                                </option>
                                {%endfor%}
                            </select>
                        {%else%}
                            <spanclass="font-small">Loggeruninitialised</span>
                        {%endif%}
                    </td>
                </tr>
            {%-endfor%}
        </table>

        <divstyle="margin-top:20px;"class="text-center">
            {%ifserver%}
                <aid="load_handler_btn"class="btn"href='/load_iot_handlers'>Loadhandlers</a>
            {%endif%}
            <inputclass="btn"type="submit"value="UpdateLogsLevelValue"/>
        </div>
    </form>
    {%ifserver%}
        <divclass="text-centerfont-small"style="margin:10pxauto;">
            Youcanclearthehandlersconfiguration
            <formstyle="display:inline-block;margin-left:4px;"action='/handlers_clear'>
                <inputclass="btnbtn-sm"type="submit"value="Clear"/>
            </form>
        </div>
    {%endif%}
    {{loading_block_ui('LoadingHandlers')}}
{%endblock%}
