{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <script>
        var_onQueryDone=function(){
            $('.message-status').html('Updatedconfiguration<br>Refreshingpage');
            setTimeout(function(){
                location.reload();
            },30000);
        }
        $(document).ready(function(){
            $('#list-credential').submit(function(e){
                e.preventDefault();
                $('.loading-block').removeClass('o_hide');
                $.ajax({
                    url:'/save_credential',
                    type:'post',
                    data:$('#list-credential').serialize(),
                }).always(_onQueryDone);
            });
        $('#credential-clear').submit(function(e){
            e.preventDefault();
            $('.loading-block').removeClass('o_hide');
            $.ajax({
                url:'/clear_credential',
                type:'get',
            }).always(_onQueryDone);
        });
        });
    </script>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">ListCredential</h2>
    <p>
        SettheDBUUIDandyourContractNumberyouwanttouse.
    </p>
    <formid="list-credential"action='/save_credential'method='POST'>
        <tablealign="center">
            <tr>
                <td>DBuuid</td>
                <td><inputtype="text"name="db_uuid"value="{{db_uuid}}"></td>
            </tr>
            <tr>
                <td>ContractNumber</td>
                <td><inputtype="text"name="enterprise_code"value="{{enterprise_code}}"></td>
            </tr>
            <tr>
                <td/>
                <td><inputclass="btn"type="submit"value="Save"/></td>
            </tr>
        </table>
        {{loading_block_ui(loading_message)}}
    </form>
    {%ifdb_uuidorenterprise_code%}
        <pclass="text-centerfont-small">
            CurrentDBuuid:<strong>{{db_uuid}}</strong>
        </p>
        <pclass="text-centerfont-small">
            CurrentContractNumber:<strong>{{enterprise_code}}</strong>
        </p>
        <divclass="text-centerfont-small"style="margin:10pxauto;">
            Youcanclearthecredentialconfiguration
            <formid="credential-clear"style="display:inline-block;margin-left:4px;">
                <inputclass="btnbtn-sm"type="submit"value="Clear"/>
            </form>
        </div>
    {%endif%}
{%endblock%}
