{%extends"layout.html"%}
{%blockhead%}
    <script>
        $(function(){
            varupgrading=false;
            $('#enable_debug').click(function(){
                varauth_token=$('#auth_token').val();
                if(auth_token==""){
                    alert('Pleaseprovideanauthenticationtoken.');
                }else{
                    $.ajax({
                        url:'/enable_ngrok',
                        data:{
                            'auth_token':auth_token
                        }
                    }).always(function(response){
                        if(response==='alreadyrunning'){
                            alert('Remotedebuggingalreadyactivated.');
                        }else{
                            $('#auth_token').attr('disabled','disabled');
                            $('#enable_debug').html('Enabledremotedebugging');
                            $('#enable_debug').removeAttr('href','')
                            $('#enable_debug').off('click');
                        }
                    });
                }
            });
        });
    </script>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">RemoteDebugging</h2>
    <pclass='text-red'>
        ThisallowssomeonewhogiveangrokauthtokentogainremoteaccesstoyourIoTBox,and
        thusyourentirelocalnetwork.Onlyenablethisforsomeone
        youtrust.
    </p>
    <divclass='text-center'>
        <inputtype="text"id="auth_token"size="42"placeholder="AuthenticationToken"/><br/>
        <aclass="btn"style="margin:18pxauto;"id="enable_debug"href="#">EnableRemoteDebugging</a>
    </div>
{%endblock%}
