{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <script>
        $(document).ready(function(){
            $('#server-config').submit(function(e){
                e.preventDefault();
                $('.loading-block').removeClass('o_hide');
                $.ajax({
                    url:'/server_connect',
                    type:'post',
                    data:$('#server-config').serialize(),
                }).fail(function(){
                    $('.message-status').html('ConfigureDomainServer<br>RedirecttoIoTBox');
                    if($('#iotname')[0].defaultValue==$('#iotname')[0].value){
                        varrebootTime=30000;
                    }else{
                        varrebootTime=100000;
                    }
                    setTimeout(function(){
                            location.reload(true);
                    },rebootTime);
                });
            });
        });
    </script>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">ConfigureFlectraServer</h2>
    <p>
        PastethetokenfromtheConnectwizardinyourFlectrainstanceintheServerTokenfield. IfyouchangetheIoTBoxName,
        yourIoTBoxwillneedareboot.
    </p>
    <formid="server-config"action='/server_connect'method='POST'>
        <tablealign="center">
            <tr>
                <td>IoTBoxName</td>
                <td><inputtype="text"id="iotname"name="iotname"value="{{hostname}}"></td>
            </tr>
            <tr>
                <td>ServerToken</td>
                <td><inputtype="text"name="token"></td>
            </tr>
            <tr>
                <td/>
                <td><inputclass="btn"type="submit"value="Connect"/></td>
            </tr>
        </table>
        <pclass="text-centerfont-small">
            Yourcurrentserver<strong>{{server_status}}</strong>
        </p>
        {{loading_block_ui(loading_message)}}
    </form>
    <divclass="text-centerfont-small"style="margin:10pxauto;">
        Youcancleartheserverconfiguration
        <formstyle="display:inline-block;margin-left:4px;"action='/server_clear'>
            <inputclass="btnbtn-sm"type="submit"value="Clear"/>
        </form>
    </div>
{%endblock%}
