{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <scripttype="text/javascript"src="/web/static/lib/jquery/jquery.js"></script>
    <script>
        $(function(){
            varupdating=false;
            $('#upgrade').click(function(){
                if(!updating){
                    updating=true;
                    $('.loading-block').removeClass('o_hide');
                    $.ajax({
                        url:'/hw_proxy/perform_upgrade/'
                    }).done(function(){
                        $('.message-title').text('Upgradesuccessful');
                        varcpt=25;
                        setInterval(function(){
                            --cpt;
                            if(cpt===0){location.reload();}
                            $('.message-status').text('RestartingtheIoTBox. Availablein'+cpt);
                        },1000);
                    }).fail(function(){
                        $('.error-message').text('UpgradeFailed');
                    });
                }
            });
            $('#flash').click(asyncfunction(){
                if(confirm('AreyousureyouwanttoflashyourIoTBox?\nTheboxwillbeunavailablefor~30min\nDonotturnofftheboxorclosethispageduringtheflash.\nThispagewillrealoadwhenyourboxisready.')){
                    $('.loading-block').removeClass('o_hide');
                    $('.message-title').text('IoTBoxperformaselfflashingittakealotoftime(~30min).');
                    $('.message-status').text('PreparespaceforIoTBox.');
                    try{
                        await$.ajax({url:'/hw_proxy/perform_flashing_create_partition/'}).promise();
                        $('.message-status').text('Preparenewbootpartition.');
                        await$.ajax({url:'/hw_proxy/perform_flashing_download_raspios/'}).promise();
                        $('.message-status').text('Downloadfilefornewbootpartition.');
                        await$.ajax({url:'/hw_proxy/perform_flashing_copy_raspios/'}).promise();
                        $('.message-status').text('PreparetorestartandinstallationofthenewversionoftheIoTBox.');
                        setTimeout(function(){
                        $('.message-status').text('Theautoflashisalmostfinished-thepagewillbeautomaticallyreloaded');
                        setInterval(function(){
                            $.ajax({
                                url:'/hw_proxy/get_version',
                                timeout:4000,
                            }).done(function(version){
                                if(version=={{flashToVersion}}){
                                    window.location='/';
                                }
                            });
                        },2000);
                    },240000);
                    }
                    catch(error){
                        $('.loading-block').addClass('o_hide');
                        $('.error-message').text(error.responseText);
                    }
                }
            });
        });
    </script>
    <style>
        .commit-details{
            background:#f1f1f1;
            padding:10px10px010px;
            border-radius:5px;
        }
    </style>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">IoTBoxSoftwareUpgrade</h2>
    <p>
        ThistoolwillhelpyouperformanupgradeoftheIoTBox'ssoftwareovertheinternet.
        HoweverthepreferredmethodtoupgradetheIoTBoxistoflashthesd-cardwith
        the<ahref='https://nightly.flectrahq.com/master/iotbox/iotbox-latest.zip'>latestimage</a>.Theupgrade
        procedureisexplainedintotothe
        <ahref='https://doc.flectrahq.com/2.0/applications/productivity/iot.html'>IoTBoxmanual</a>
    </p>
    <p>
        ToupgradetheIoTBox,clickontheupgradebutton.Theupgradewilltakeafewminutes.<b>Donotreboot</b>theIoTBoxduringtheupgrade.
    </p>
    <divclass="commit-details">
        <divstyle="padding-bottom:5px;font-weight:bold;">
            Latestpatch:
        </div>
        <prestyle="margin:0;padding:15px0;overflow:auto;">{{commit|safe}}</pre>
    </div>
    <divclass="text-center"style="margin:15pxauto;">
        {%ifflashToVersion%}
            <aclass="btn"href='#'id='flash'>Upgradeto{{flashToVersion}}</a>
        {%else%}
            <aclass="btn"href='#'id='upgrade'>Upgrade</a>
        {%endif%}
    </div>
    {{loading_block_ui(loading_message)}}
{%endblock%}
