{%extends"layout.html"%}
{%from"loading.html"importloading_block_ui%}
{%blockhead%}
    <script>
        $(document).ready(function(){
            $('#wifi-config').submit(function(e){
                e.preventDefault();
                $('.loading-block').removeClass('o_hide');
                $.ajax({
                    url:'/wifi_connect',
                    type:'post',
                    data:$('#wifi-config').serialize(),
                }).done(function(message){
                    vardata=JSON.parse(message);
                    varmessage=data.message;
                    if(data.server){
                        message+='<br>'+data.server.message;
                        setTimeout(function(){
                            window.location=data.server.url;
                        },30000);
                    }
                    $('.message-status').html(message);
                }).fail(function(){
                    $('.error-message').text('Errorinconnectingtowifi');
                    $('.loading-block').addClass('o_hide');
                });
            });
        });
    </script>
{%endblock%}
{%blockcontent%}
    <h2class="text-center">ConfigureWifi</h2>
    <p>
        Hereyoucanconfigurehowtheiotboxshouldconnecttowirelessnetworks.
        CurrentlyonlyOpenandWPAnetworksaresupported.Whenenablingthepersistentcheckbox,
        thechosennetworkwillbesavedandtheiotboxwillattempttoconnecttoiteverytimeitboots.
    </p>
    <formid="wifi-config"action='/wifi_connect'method='POST'>
        <tablealign="center">
            <tr>
                <td>ESSID</td>
                <td>
                    <selectname="essid">
                        {%foridinssid-%}
                            <optionvalue="{{id}}">{{id}}</option>
                        {%-endfor%}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><inputtype="password"name="password"placeholder="optional"/></td>
            </tr>
            <tr>
                <td>Persistent</td>
                <td><inputtype="checkbox"name="persistent"/></td>
            </tr>
            <tr>
                <td/>
                <td><inputclass="btn"type="submit"value="Connect"/></td>
            </tr>
        </table>
    </form>
    <divclass="text-centerfont-small"style="margin:10pxauto;">
        Youcanclearthepersistentconfiguration
        <formstyle="display:inline-block;margin-left:4px;"action='/wifi_clear'>
            <inputclass="btnbtn-sm"type="submit"value="Clear"/>
        </form>
    </div>
    {{loading_block_ui(loading_message)}}
{%endblock%}
