<!DOCTYPEhtml>
<html>
    <head>
        <metahttp-equiv="content-type"content="text/html;charset=utf-8">
        <title>Flectra</title>
        <linkrel="shortcuticon"href="/web/static/src/img/favicon.ico"type="image/x-icon">

        <linkrel="stylesheet"href="/web/static/lib/fontawesome/css/font-awesome.css">
        <linkrel="stylesheet"href="/web/static/lib/bootstrap/css/bootstrap.css">

        <scriptsrc="/web/static/lib/jquery/jquery.js"type="text/javascript"></script>

        <scripttype="text/javascript"src="/web/static/lib/popper/popper.js"></script>

        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/index.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/util.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/alert.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/button.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/carousel.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/collapse.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/dropdown.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/modal.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/tooltip.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/popover.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/scrollspy.js"></script>
        <scripttype="text/javascript"src="/web/static/lib/bootstrap/js/tab.js"></script>

        <scripttype="text/javascript">
            $(function(){
                //Littleeye
                $('body').on('mousedown','.o_little_eye',function(ev){
                    $(ev.target).closest('.input-group').find('.form-control').prop("type",
                        (i,old)=>{returnold==="text"?"password":"text";}
                    );
                });
                //dbmodal
                $('body').on('click','.o_database_action',function(ev){
                    ev.preventDefault();
                    vardb=$(ev.currentTarget).data('db');
                    vartarget=$(ev.currentTarget).data('target');
                    $(target).find('input[name=name]').val(db);
                    $(target).modal();
                });
                //closemodalonsubmit
                $('.modal').on('submit','form',function(ev){
                    varform=$(this).closest('form')[0];
                    if(form&&form.checkValidity&&!form.checkValidity()){
                        return;
                    }
                    varmodal=$(this).parentsUntil('body','.modal');
                    if(modal.hasClass('o_database_backup')){
                        $(modal).modal('hide');
                        if(!$('.alert-backup-long').length){
                            $('.list-group').before("<divclass='alertalert-infoalert-backup-long'>Thebackupmaytakesometimebeforebeingready</div>");
                        }
                    }
                });

                //generatearandommasterpassword
                //removedl1O0toavoidconfusions
                varcharset="abcdefghijkmnpqrstuvwxyz23456789";
                varpassword="";
                for(vari=0,n=charset.length;i<12;++i){
                    password+=charset.charAt(Math.floor(Math.random()*n));
                    if(i===3||i===7){
                        password+="-";
                    }
                }
                varmaster_pwds=document.getElementsByClassName("generated_master_pwd");
                for(vari=0,len=master_pwds.length|0;i<len;i=i+1|0){
                    master_pwds[i].innerText=password;
                }
                varmaster_pwd_inputs=document.getElementsByClassName("generated_master_pwd_input");
                for(vari=0,len=master_pwd_inputs.length|0;i<len;i=i+1|0){
                    master_pwd_inputs[i].value=password;
                    master_pwd_inputs[i].setAttribute('autocomplete','new-password');
                }
            });
        </script>
    </head>

    {%macromaster_input(set_master_pwd=False)-%}

        {%setinput_class="form-control"%}
        {%ifinsecure%}
            {%ifset_master_pwd%}
                <inputtype="hidden"name="master_pwd"class="form-control"value="admin"/>
            {%else%}
                <divclass="alertalert-warning">
                    <p>Warning,yourFlectradatabasemanagerisnotprotected.Tosecureit,wehavegeneratedthefollowingmasterpasswordforit:</p>
                    <pstyle="text-align:center;"><strongclass="generated_master_pwd"></strong></p>
                    <p>Youcanchangeitbelowbutbesuretorememberit,itwillbeaskedforfutureoperationsondatabases.</p>
                </div>
                {%setinput_class="form-controlgenerated_master_pwd_input"%}
            {%endif%}
        {%endif%}
        {%ifnotinsecureornotset_master_pwd%}
            <divclass="form-grouprow">
                <labelfor="master_pwd"class="col-md-4col-form-label">MasterPassword</label>
                <divclass="col-md-8input-group">
                    <inputname="master_pwd"
                        class="{{input_class}}"
                        required="required"
                        autofocus="autofocus"
                        type="password"
                        autocomplete="current-password"/>
                    <divclass="input-group-append">
                        <spanclass="fafa-eyeo_little_eyeinput-group-text"aria-hidden="true"style="cursor:pointer;"></span>
                    </div>
                </div>
            </div>
        {%endif%}
    {%-endmacro%}

    {%macrocreate_form()-%}
        {{master_input()}}
        <divclass="form-grouprow">
            <labelfor="name"class="col-md-4col-form-label">DatabaseName</label>
            <divclass="col-md-8">
                <inputid="dbname"type="text"name="name"class="form-control"required="required"autocomplete="off"pattern="{{pattern}}"title="Onlyalphanumericalcharacters,underscore,hyphenanddotareallowed"/>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="login"class="col-md-4col-form-label">Email</label>
            <divclass="col-md-8">
                <inputid="login"type="text"name="login"class="form-control"required="required"autocomplete="off"/>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="password"class="col-md-4col-form-label">Password</label>
            <divclass="col-md-8input-group">
                <inputid="password"type="password"name="password"class="form-control"required="required"autocomplete="off"/>
                <divclass="input-group-append">
                    <spanclass="fafa-eyeo_little_eyeinput-group-text"aria-hidden="true"style="cursor:pointer;"></span>
                </div>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="phone"class="col-md-4col-form-label">Phonenumber</label>
            <divclass="col-md-8input-group">
                <inputid="phone"type="tel"name="phone"class="form-control"autocomplete="off"/>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="lang"class="col-md-4col-form-label">Language</label>
            <divclass="col-md-8">
                <selectid="lang"name="lang"class="form-control"required="required"autocomplete="off">
                    {%forlanginlangs%}
                        <option{%iflang[0]=="en_US"%}selected="selected"{%endif%}value="{{lang[0]}}">{{lang[1]}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="country"class="col-md-4col-form-label">Country</label>
            <divclass="col-md-8">
                <selectid="country"name="country_code"class="form-control"autocomplete="off">
                    <optionvalue=""></option>
                    {%forcountryincountries%}
                        <optionvalue="{{country[0]}}">{{country[1]}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>
        <divclass="form-grouprow">
            <labelfor="load_demo_checkbox"class="col-md-4col-form-label">Demodata</label>
            <divclass="col-md-8">
                <inputtype="checkbox"id="load_demo_checkbox"class="form-control-sm"name="demo"value="1">
            </div>
        </div>
    {%-endmacro%}

    <body>
        <divclass="container">
            <!--DatabaseList-->
            <divclass="row">
                <divclass="col-lg-6offset-lg-3o_database_list">
                    <imgsrc="/web/static/src/img/logo2.png"class="img-fluidd-blockmx-auto"/>
                    {%ifnotlist_db%}
                        <divclass="alertalert-dangertext-center">Thedatabasemanagerhasbeendisabledbytheadministrator</div>
                    {%elifinsecureanddatabases%}
                        <divclass="alertalert-warning">
                            Warning,yourFlectradatabasemanagerisnotprotected.<br/>
                            Please<ahref="#"data-toggle="modal"data-target=".o_database_master">setamasterpassword</a>tosecureit.
                        </div>
                    {%endif%}
                    {%iferror%}
                        <divclass="alertalert-danger">{{error}}</div>
                    {%endif%}
                    {%iflist_dbanddatabases%}
                        <divclass="list-group">
                            {%fordbindatabases%}
                                <divclass="list-group-itemd-flexalign-items-center">
                                    <ahref="/web?db={{db}}"class="d-blockflex-grow-1">
                                        {%ifdbinincompatible_databases%}
                                            <iclass="iconfafa-warningfloat-righttext-warning"title="Thisdatabasemaynotbecompatible"></i>
                                        {%endif%}
                                        {{db}}
                                    </a>
                                    {%ifmanage%}
                                        <divclass="btn-groupbtn-group-smfloat-right">
                                            <buttontype="button"data-db="{{db}}"data-target=".o_database_backup"class="o_database_actionbtnbtn-primary">
                                                <iclass="fafa-floppy-ofa-fw"></i>Backup
                                            </button>
                                            <buttontype="button"data-db="{{db}}"data-target=".o_database_duplicate"class="o_database_actionbtnbtn-secondary">
                                                <iclass="fafa-files-ofa-fw"></i>Duplicate
                                            </button>
                                            <buttontype="button"data-db="{{db}}"data-target=".o_database_delete"class="o_database_actionbtnbtn-danger">
                                                <iclass="fafa-trash-ofa-fw"></i>Delete
                                            </button>
                                        </div>
                                    {%endif%}
                                </div>
                            {%endfor%}
                        </div>
                        {%ifmanage%}
                            <divclass="d-flexmt-2">
                                <buttontype="button"data-toggle="modal"data-target=".o_database_create"class="btnbtn-primaryflex-grow-1">CreateDatabase</button>
                                <buttontype="button"data-toggle="modal"data-target=".o_database_restore"class="btnbtn-primaryflex-grow-1ml-2">RestoreDatabase</button>
                                <buttontype="button"data-toggle="modal"data-target=".o_database_master"class="btnbtn-primaryflex-grow-1ml-2">SetMasterPassword</button>
                            </div>
                        {%else%}
                            <divclass="text-centermt-2">
                                <ahref="/web/database/manager">Managedatabases</a>
                            </div>
                        {%endif%}
                    {%eliflist_db%}
                        <formrole="form"action="/web/database/create"method="post">
                            {{create_form()}}
                            <inputtype="submit"value="Createdatabase"class="btnbtn-primaryfloat-left"/>
                        </form>
                        <arole="button"data-toggle="modal"data-target=".o_database_restore"class="btnbtn-link">orrestoreadatabase</a>
                    {%endif%}
                </div>
            </div>
        </div>

        <!--Create-->
        <divclass="modalfadeo_database_create"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <formrole="form"action="/web/database/create"method="post">
                        <divclass="modal-header">
                            <h4class="modal-title">CreateDatabase</h4>
                            <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                        </div>
                        <divclass="modal-body">
                            {{create_form()}}
                            <smallclass="text-muted">
                                Toenhanceyourexperience,somedatamaybesenttoFlectraonlineservices.Seeour<ahref="https://www.flectrahq.com/privacy"target="_blank">PrivacyPolicy</a>.
                            </small>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Continue"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Restore-->
        <divclass="modalfadeo_database_restore"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <divclass="modal-header">
                        <h4class="modal-title">RestoreDatabase</h4>
                        <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    </div>
                    <formid="form_restore_db"role="form"action="/web/database/restore"method="post"enctype="multipart/form-data">
                        <divclass="modal-body">
                            {{master_input()}}
                            <divclass="form-grouprow">
                                <labelfor="backup_file"class="col-md-4col-form-label">File</label>
                                <divclass="col-md-8">
                                    <inputid="backup_file"type="file"name="backup_file"class="required"/>
                                </div>
                            </div>
                            <divclass="form-grouprow">
                                <labelfor="name"class="col-md-4col-form-label">DatabaseName</label>
                                <divclass="col-md-8">
                                    <inputid="dbname_restore"type="text"name="name"class="form-control"required="required"pattern="{{pattern}}"title="Onlyalphanumericalcharacters,underscore,hyphenanddotareallowed"/>
                                </div>
                            </div>
                            <divclass="form-group">
                                <labelfor="copy">Thisdatabasemighthavebeenmovedorcopied.</label>
                                <pclass="form-text">
                                    Inordertoavoidconflictsbetweendatabases,Flectraneedstoknowifthisdatabasewasmovedorcopied.<br/>
                                    Ifyoudon'tknow,answer"Thisdatabaseisacopy".
                                </p>
                                <divclass="custom-controlcustom-radio">
                                    <inputid="radio_copy_true"name="copy"type="radio"class="custom-control-input"value="true"checked="1">
                                    <labelfor="radio_copy_true"class="custom-control-label">Thisdatabaseisacopy</label>
                                </div>
                                <divclass="custom-controlcustom-radio">
                                    <inputid="radio_copy_false"name="copy"type="radio"class="custom-control-input"value="false">
                                    <labelfor="radio_copy_false"class="custom-control-label">Thisdatabasewasmoved</label>
                                </div>
                            </div>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Continue"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Masterpassword-->
        <divclass="modalfadeo_database_master"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <divclass="modal-header">
                        <h4class="modal-title">SetMasterPassword</h4>
                        <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    </div>
                    <formid="form_change_pwd"role="form"action="/web/database/change_password"method="post">
                        <divclass="modal-body">
                            <p>Themasterpasswordisrequiredtocreate,delete,dumporrestoredatabases.</p>
                            {{master_input(set_master_pwd=True)}}
                            <divclass="form-group">
                                <labelfor="master_pwd_new"class="col-form-label">NewMasterPassword</label>
                                <divclass="input-group">
                                    <inputid="master_pwd_new"type="password"name="master_pwd_new"class="form-control"required="required"autocomplete="new-password"/>
                                    <divclass="input-group-append">
                                        <spanclass="fafa-eyeo_little_eyeinput-group-text"aria-hidden="true"style="cursor:pointer;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Continue"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--DuplicateDB-->
        <divclass="modalfadeo_database_duplicate"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <divclass="modal-header">
                        <h4class="modal-title">DuplicateDatabase</h4>
                        <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    </div>
                    <formid="form-duplicate-db"role="form"action="/web/database/duplicate"method="post">
                        <divclass="modal-body">
                            {{master_input()}}
                            <divclass="form-group">
                                <labelfor="name"class="col-form-label">DatabaseName</label>
                                <inputid="dbname_duplicate"type="text"name="name"class="form-control"required="required"readonly="readonly"/>
                            </div>
                            <divclass="form-group">
                                <labelfor="new_name"class="col-form-label">NewName</label>
                                <inputid="new_name"type="text"name="new_name"class="form-control"required="required"pattern="{{pattern}}"title="Onlyalphanumericalcharacters,underscore,hyphenanddotareallowed"/>
                            </div>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Continue"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--DropDB-->
        <divclass="modalfadeo_database_delete"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <divclass="modal-header">
                        <h4class="modal-title">DeleteDatabase</h4>
                        <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    </div>
                    <formid="form_drop_db"role="form"action="/web/database/drop"method="post">
                        <divclass="modal-body">
                            {{master_input()}}
                            <divclass="form-group">
                                <labelfor="name"class="col-form-label">Database</label>
                                <inputid="dbname_delete"type="text"name="name"class="form-control"required="required"readonly="readonly"/>
                            </div>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Delete"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--BackupDB-->
        <divclass="modalfadeo_database_backup"role="dialog">
            <divclass="modal-dialog">
                <divclass="modal-content">
                    <divclass="modal-header">
                        <h4class="modal-title">BackupDatabase</h4>
                        <buttontype="button"class="close"data-dismiss="modal"aria-label="Close"><spanaria-hidden="true">&times;</span></button>
                    </div>
                    <formid="form_backup_db"role="form"action="/web/database/backup"method="post">
                        <divclass="modal-body">
                            {{master_input()}}
                            <divclass="form-group">
                                <labelfor="name"class="col-form-label">DatabaseName</label>
                                <inputid="dbname_backup"type="text"name="name"class="form-control"required="required"readonly="readonly"/>
                            </div>
                            <divclass="form-group">
                                <labelfor="backup_format"class="col-form-label">BackupFormat</label>
                                <selectid="backup_format"name="backup_format"class="form-control"required="required">
                                    <optionvalue="zip">zip(includesfilestore)</option>
                                    <optionvalue="dump">pg_dumpcustomformat(withoutfilestore)</option>
                                </select>
                            </div>
                        </div>
                        <divclass="modal-footer">
                            <inputtype="submit"value="Backup"class="btnbtn-primaryfloat-right"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
