.only_right_radius{
    border-top-right-radius:2em;
    border-bottom-right-radius:2em;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}

.only_left_radius{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:2em;
    border-bottom-left-radius:2em;
}

.no_radius{
    border-radius:0;
}

.clear_survey_filter,.filter-all,.filter-finished{
    cursor:pointer;
}

.o_active_filter{
    cursor:default;
}

.nvtooltiph5{
    margin:0;
    line-height:18px;
    font-weight:bold;
    background-color:rgba(247,247,247,0.75);
    text-align:center;
    border-bottom:1pxsolid#ebebeb;
    -webkit-border-radius:5px5px00;
    -moz-border-radius:5px5px00;
    border-radius:5px5px00;
}

.survey_answeri{
    padding:3px;
    cursor:pointer;
    visibility:hidden;
}
.survey_answer:hoveri{
    visibility:visible;
}

@mediaprint{
    .tab-content>.tab-pane{
        display:block;
    }

    .tab-content>.survey_graph>svg{
        width:1150px;
    }
}

.o_preview_questions{
    border:3pxsolid#C9C6C6;
    width:auto;
    padding:10px30px5px;
    margin-top:15px;
    color:#C9C6C6;
}

.o_preview_questions.o_datetime{
    border:1pxsolid#D8D7D7;
    margin-bottom:5px;
}

.o_preview_questions.o_matrix_head{
    border-bottom:1pxsolid#D8D7D7;
}

.o_preview_questions.o_matrix_row{
    border-top:1pxsolid#D8D7D7;
}
