@mediaprint{
    .chartjs-size-monitor{
        display:none;
    }
    .chartjs-render-monitor{
        width:100%!important;
        height:100%!important;
    }
    .js_surveyform{
        font-size:13px;
    }
    .js_surveyformtextarea.form-control{
        height:10em;
    }
    .js_surveyformh1{
        font-size:28px;
    }
    .js_surveyformh2{
        font-size:20px;
    }
    .js_question-wrapper{
        page-break-inside:avoid;
    }
    html{
        height:unset;
    }
}
