.no-link-style{
  color:black;
  text-decoration:none;
}

.required-form-control{
  background-color:#CECDFF;
}

#filterslia,
#filtersli.activea,
#filtersli.activea.active,
#filtersli.activea:hover,
#filtersli.activea:focus,
#filterslia:hover{
  padding:0px5px;
  border-radius:0px;
  border:0px;
  border-color:transparent;
  border-right:1pxsolid#999;
  padding-bottom:0;
  background-color:#FFFFFF;
}

#filtersli.activea{
  color:#999;
}

#filtersli:last-childa,
#filtersli:last-childa:hover,
#filtersli:last-childa:focus{
  border-right:0px;
}

.nav-tabs-inline{
    font-size:14px;
}

#o_website_links_recent_links{
  min-height:30em;
}

.o_website_links_code_error{
  display:none;
  color:red;
  font-weight:bold;
}

.truncate_text{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  max-width:500px;
}
